@import "../../../../src/colors.css";

.GameContainer {
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 auto;
}

.Message {
  font-size: 18px;
  margin: 0;
}

.GridRow {
  width: 100%;
  display: flex;
}

.GridCell {
  box-sizing: border-box;
  border: 1px solid var(--dark);
  transition: background-color 0.2s;
}

.GridCell5 {
  width: calc(100% / 5);
  height: calc(100% / 5);
}

.GridCell10 {
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.GridCell15 {
  width: calc(100% / 15);
  height: calc(100% / 15);
}

.CELL_DEFAULT {
  background-color: var(--light);
}

.CELL_HIGHLIGHTED {
  background-color: var(--highlighted);
}

.CELL_PICK_PLAYER {
  background-color: var(--pickedPlayer);
}

.CELL_PICK_COMPUTER {
  background-color: var(--pickedComputer);
}