@import "../../colors.css";

.Wrapper {
  width: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.List {
  width: 70%;
  height: 500px;
  overflow: hidden auto;
}

.Winner {
  display: flex;
  justify-content: space-between;
  color: var(--dark);
  padding: 10px 20px;
  background-color: var(--semiDark);
  margin-bottom: 2px;
}

.Winner p {
  font-size: 18px;
  margin: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 5px;
}
